*{
    margin: 0%;
    padding: 0%;
    background-color:#F4F6E6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

h1{
    
    color: rgb(6, 66, 90);
    font-size: 40px;
    font-weight: normal;
    
  
}




.titulo1{
    background-color:#89B9BD;
    color:#153958;
    font-size: 40px;
    font-weight: normal;
    padding: 20px;
    

}

.section1{
    
    background-color: #89B9BD;
    height: 350px;
   
}

.titulo2{
    background-color:#89B9BD;
    padding: 20px;
    color:#283278;
    font-size: 40px;
    font-weight: normal;
    
}

p{
    
    font-size: 20px;
    font-weight: normal;
    background-color: #89B9BD;
    padding: 10px;
    color: #061522;
    
 
}



code{
    background-color: rgb(49, 116, 112);
    font-style: normal;
    border-radius: 10px;
    color: white;
    padding: 5px 15px 10px 10px ;
    margin: 10px;
    font-family: menlo, monospace;
}

.section2{
    background-color: rgb(144, 219, 121);
    height: 350px;

}

.titulo3{
    background-color: rgb(144, 219, 121);
    padding: 20px;
    color:#B3281F;
    font-size: 40px;
    font-weight: normal;
}

.parrafo5{
    background-color: rgb(144, 219, 121);
}

.parrafo6{
    background-color: rgb(144, 219, 121);
}
.parrafo7{
    background-color: rgb(144, 219, 121);
}
.parrafo8{
    background-color: rgb(144, 219, 121);
}

.code1{
    background-color:#E8583F;
}

.code2{
    background-color:#E8583F;
}

.code3{
    background-color: #E8583F;
}

.code4{
    background-color: #E8583F;
}

.section3{
    background-color: #134167;
    height: 150px;
}

.titulo4{
    background-color: #134167;
    padding: 20px;
    color: white;
    font-size: 40px;
    font-weight: normal;
    
}

.code5{
    background-color: black;
    color: white;
}

.parrafo9{
    background-color: #134167;
    color: white;
}

.section4{
    background-color: #F47633;
    height: 300px;
}

.titulo5{
    background-color: #F47633;
    padding: 20px;
    color: white;
    font-size: 40px;
    font-weight: normal;
}

.code6{
    background-color: #9C999C;
    color: white;
}

.parrafo10{
    background-color: #F47633;
    color: white;
}

.code7{
    background-color: #9C999C;
    color: white;
}

.parrafo11{
    background-color: #F47633;
    color: white;
}

.code8{
    background-color: #9C999C;
    color: white;
}

.parrafo12{
    background-color: #F47633;
    color: white;
}

.section5{
    background-color: #cc4037;
    height: 200px;
}

.titulo6{
    background-color: #cc4037;
    padding: 20px;
    color: white;
    font-size: 40px;
    font-weight: normal;
}
.code9{
    background-color: #ffc19f;
    color: white;
}

.parrafo13{
    background-color: #cc4037;
    color: white;
}
.code10{
background-color: #ffc19f;
    
}

.parrafo14{
    background-color: #cc4037;
    color: white;
}