*{
    margin: 0%;
    padding: 0%;
    background:rgb(151, 197, 180);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

h1{
    margin-top: 20px;
    color: rgb(6, 66, 90);
    font-size: 60px;
    font-weight: normal;
    margin: 0;
    line-height: 1;
}


p{
    color: rgb(1, 17, 22);
    font-size: 30px;
}

.section1{
   

border:solid  black;
    margin: auto;
    margin-top: 20px;
    background-color: darkturquoise;
    width: 960px;
    height: 200px;
   
   
   
}

h2{
    color: rgba(13, 77, 45, 0.842);
    font-size: 60px;
    font-weight: normal;
   padding: 0;
    line-height: 0.5;
}