*{
    margin: 0%;
    padding: 0%;
    background-color:#F4F6E6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

h1{
    
    color: rgb(6, 66, 90);
    font-size: 40px;
    font-weight: normal;
    
  
}


.parrafo1{
    
    font-size: 20px;
    font-weight: normal;
    background-color: #89B9BD;
    padding: 10px;
    color: #061522;
 
}

.titulo1{
    background-color:#89B9BD;
    color: rgba(13, 77, 45, 0.842);
    font-size: 40px;
    font-weight: normal;
    padding: 20px;
    

}

.section1{
    
    background-color: #89B9BD;
    height: 200px;
   
}

.titulo2{
    background-color:#89B9BD;
    padding: 10px;
    color:#283278;
    font-size: 30px;
    font-weight: normal;
    
}

code{
    background-color: rgb(49, 116, 112);
    font-style: normal;
    border-radius: 10px;
    color: white;
    padding: 5px 15px;
    font-family: menlo, monospace;
}